
table {
    border: 5px solid #101e69;
    margin:auto;
  }
  
  th {
    border-top: 2px solid #101e69;
    border-bottom: 2px solid #101e69;
    background-color: #5d74e7;
    font-family: sans-serif;
  }
  
  td {
    border-top: 1px solid #5d74e7;
    font-family: sans-serif;
  }
  
  h1, h2 {
    text-align: center;
    color: #101e69;
    font-family: sans-serif;
  }
  body {
    background-color: #e4fbfc;
  }
  
  .font {
    font-family: monospace;
  }